@import 'tailwindcss';

@config '../tailwind.config.ts';

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --animate-login: login-animation 40s linear infinite;
  --animate-shop-search: searching-animation 2s ease-in-out infinite;
  --animate-popup-slide-up: popup-slide-up 0.2s ease-out forwards;
  --animate-popup-slide-down: popup-slide-down 0.2s ease-in-out forwards;
  --animate-popup-slide-left: popup-slide-left 0.15s ease-in-out forwards;
  --animate-popup-slide-right: popup-slide-right 0.15s ease-in-out forwards;
  --animate-toast-slide-down: toast-slide-down 0.2s ease-in-out forwards;
  --animate-toast-slide-up: toast-slide-up 0.2s ease-in-out forwards;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type='date'].calendar::-webkit-calendar-picker-indicator {
  position: absolute;
  right: -0.25rem;
  width: 27px;
  height: 100%;
  padding-right: 0.75em;
  opacity: 0;
  cursor: pointer;
}

input[type='date'].calendar.icon-only {
  position: absolute;
  right: 0;
  width: 2.5rem;
  height: 100%;
  padding-right: 0.75em;
  opacity: 0;
  cursor: pointer;
  border-radius: calc(infinity * 1px);
  text-align: end;
}

@keyframes login-animation {
  from {
    bottom: 0;
    left: 0;
  }
  to {
    bottom: 100%;
    left: 100%;
  }
}

@keyframes searching-animation {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  50% {
    transform: scale(100%);
    opacity: 100%;
  }
  100% {
    transform: scale(90%);
    opacity: 0;
  }
}

@keyframes popup-slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes popup-slide-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes popup-slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes popup-slide-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}


@keyframes toast-slide-down {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes toast-slide-up {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-150%);
  }
}

.test {
}